.container-graf-ser{
    display: block;
    flex-direction: column;
    position: fixed;
    top: 2%;
    width: 50%;
    height: 45vh;
    background-color: white;
    border-radius: 20px;
    overflow-y: auto;
    background-color: hsla(0, 24%, 15%, 0.61);
    margin-left: 30px;


}
.cabec-graf-ser{
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: #514769;
    border: 1px solid  #16FC92;
    
    
    
}

.nome-h3-ser {
    padding-top: 1%;
    font-family: 'Baloo 2',cursive;
    color: #16FC92;
    font-weight: 600;
    font-size: 24px;
    margin: 0%;
    margin-bottom: 13px;
    text-align: center;
    text-justify: center;
    
}
.corpo-graf-ser{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    
}   
.col-tit-ser {
    position:absolute;
    display: flex;
    color: white;
    width: 70px;
    height: 40px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
     
}

.col-inf-cod{
    position:absolute;
    display: flex;
    color: white;
    width: 7px;
    height: 40px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
    margin: 0px;
     
}

.col2-ser {
    display: flex;
    color: white;
    width: 25%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
} 

.col2-1-ser {
    display: flex;
    color: white;
    width: 25%;
     height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: left;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
    padding-left: 2%;
}  

.col3-ser {
    display: flex;
    color: white;
    width: 25%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
} 

.col3-1-ser {
    display: flex;
    color: white;
    width: 25%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
} 

.col4-ser {
    display: flex;
    color: white;
    width: 20%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}

.col4-1-ser {
    display: flex;
    color: white;
    width: 20%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}    

.col5-ser {
    display: flex;
    color: white;
    width: 10%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}

.col5-1-ser {
    display: flex;
    color: white;
    width: 10%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}


.col6-ser {
    display: flex;
    color: white;
    width: 20%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}

.col6-1-ser {
    display: flex;
    color: white;
    width: 20%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}



.tag-ser img{
    border-radius: 20px;
    width: 22px;
    height: 22px;
}

.lixeira-ser {
    
    width: 19px;
    height: 22px;
    display: flex;
    align-items:top;
    justify-content: right;
    position: absolute;
        top: 10%;
        left: 92%;
}


