@media only screen and (max-width:540px){
    
    .caixa-itens{
        width: 95%;
    }
    
    
    #esquerda-text-botoes{
        width: 100%;
        justify-content: left;
        padding-left: 30px;
    }

    #esquerda-text-botoes-minhalista{
        justify-content: center;
        align-items: center;
    }

    #direita-text-botoes{
        display: none;
    }

    #minhalista{
        font-size: 25px;
        justify-content: center;
    }

    #direita-text-botoes-minhalista{
        font-size: 5px;
        justify-content: center;
        align-items: center;
    }

    .selecao > select{
        width: 100%;
        height: 100%;
        background-color: #514769;
        color: white;
        font-size: 10px;
    }

    .selecao > option {
        font-size: 10px;
        height: 100%;
    }


    /*Itens da esquerda---------------------------------------------------------------*/
    .esquerda-itens{
        width: 30%;
    }

    .esquerda-itens > div > a{
        font-size: 15px;
    }
    
    /*Itens da direita Vazio de Desejo Assistir---------------------------------------------------------------*/

    .direita-itens-vazio{
        width: 70%;
    }

    .direita-itens-vazio > img{
        height: 20vh;
    }

    .direita-itens-vazio > p {
        font-size: 15px;
        text-align: center;
    }

    .direita-itens-vazio> a {
        height: 6%;
        width: 50%;
        font-size: 14px;
        padding: 0;
    }
    
    /*Itens dentro de Desejo Assistir------------------------------------------------------*/


    .direita-itens-desejo-assistir{
        width: 98%;
        display: flex;
        align-items: center;
    }


    /*Itens dentro de Visto------------------------------------------------------*/


    .direita-itens-visto{
        width: 70%;
    }

    /*Itens dentro Design dos itens do direita------------------------------------------------------*/


    .item{
        width: 95%;
        height: 30%;
        display: flex;
        flex-direction: row;     
        justify-content: center;
        padding: 0.1em;
    }

    .item > div{
        width: 2vw;
        height: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2.2em;
    }

    #imagem-plataforma{
        width: 4vw;
    }

    #imagem-plataforma > img {
        width:  35px;
        height: 35px;
    }

    #div-nome-serie {
        width: 2vw;
        
    }

    #divstatus{
        width: 5vw;
    }

    #divstatus > #status{
        font-size: 10px;
        align-items: left;
    }

    #divrecomendado{
        width: 10vw;
        font-size: 10px;
    }

    #div-genero, #div-qntdtemporada {
        display: none;
    }

    .checkbox{
        display: flex;
        flex-direction: row;
    }


    .item > div > p{
        margin: 0;
        font-size: 10px;
        margin-bottom: 0px;
    }

    .item > div > .verde{
        color: #16FC92;
        font-size: 10px;
        margin-right: 10px;
    }


}


@media only screen and (max-width:350px){
    
    
    
    .direita-itens-vazio > p {
        font-size: 12px;
    }

    .direita-itens-vazio> a {
        font-size: 10px;
    }
}