
.text-direita-contato{
    color: #16FC92;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Graduate', cursive;  
}

.text-botoes-contato{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
}

.text-botoes-contato{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title1{
    font-family: 'Graduate';
    color: #FFFFFF;
    font-size: 26px;
    margin: 1%;
    align-items: center;
    justify-content: center;
}

.title2{
    font-family: 'Graduate';
    color: #FFFFFF;
}


.form-esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.form-esquerda > p {
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 800;
    font-size: 40px;
    color: #16FC92;
    margin: 0;
}

.form-esquerda > input, textarea {
    width: 80%;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 4px;
    margin-top: 10px;
    height: 30px;
    color: #FFFFFF;
}

.form-esquerda > textarea{
    height: 40%;
}

::placeholder {
    color: #FFFFFF;
    font-family: 'Baloo Thambi 2', cursive;
    
}

.form-esquerda > div{
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-esquerda > div > button{
    margin: 8px;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 15px;
    color: black;
    font-weight: 800;
    border-radius: 8px;
    width: 30%;
}

.Enviar {
    background-color: #16FC92;
}

.Cancelar {
    background-color: #FC2416
    ;
}
