
.esquerda-caixa {
    width: 50%;
}

.direita-caixa {
    width: 50%;
}



/* titulo da caixa */
.nome-h2 {
    padding-top: 1%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Baloo 2',cursive;
    color: #16FC92;
    font-weight: 600;
    font-size: 24px;
    margin: 0%;
    margin-left: 10%; 
    margin-bottom: 2%; 
}


.linhauser {
    margin-left: 5%;
    flex-direction: row;
    display: flex;

}

.linhaemail {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    position: relative;
    
}

.linhabtn {
    margin-left: 5%;
    display: flex;
    flex-direction: row;

    
}

.texto-user{
    color: white;
    font-weight: 900;
    font-family: 'Baloo',cursive;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 17px;
    margin: 0px;
    
}

.marg-para{
    margin: 0px;
}

.input-box{
    margin-left: 3%;
    display: flex;
}


.bt1Editar {
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 5vh;
    background: #16FC92;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    font-weight: 900;
    border-radius: 8px;
}

.bt2Encerrar {
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 5vh;
    background: red;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-weight: 900;
    margin-left: 5%;
    border-radius: 8px;
}


    



