/*Aqui começa a parte text-botoes*/


@media only screen and (max-width:540px){
    
    #editarperfil{
        color: #16FC92;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        text-align: center;
    }
    
    #caixa-itens-editarperfil{
        display: flex;
        flex-direction:column ;
    }

    

    .bt1submit {
        width: 160px;
        height: 3vh;
        
        
    }

    
}
